html, body {
  height: 100%;
  width: 100%;
}
.block {
  display: inline-block;
 border-left: 1px solid black;
 border-bottom: 1px solid black;
 padding-left: 10px;
 padding-bottom: -20px;
  padding-right: 10px;

}
.container{
  position: relative;
  display: inline-block;
 left: 50%;
 transform: translateX(-50%);
 margin-top: 30px;
}
.column {
  position: relative;
  margin-bottom: -4px;
}
.block:before{
  content: '^';
  position: absolute;
  left: -7px;
  top: -13px;
  font-size: 32px;
}
.block:after{
  content: '>';
  position: absolute;
  right: -20;
  bottom: -13px;
  font-size: 28px;

}